.container { display: inline-block; }

.text {
    font-size: 5em; 
    letter-spacing: 10px;
    font-family: monospace; 
    border-right: 5px solid; 
    /* animation */
    width: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
    animation: 
        typing 2s steps(15),
        cursor .4s step-end infinite alternate; 
}

/* cursor blinking */
@keyframes cursor {
    50% { border-color: transparent }
}

@keyframes typing {
    from { width: 0 }
}